@theme "theme.rasi"

configuration {
	hover-select: true;
	kb-cancel: "Escape,Super+q,Control+Super+q,Super+w,Control+Super+w";
	me-select-entry: "";
	me-accept-entry: "MousePrimary,MouseSecondary";
	window {
		hide-active-window: true;
	}
}
