@theme "theme.rasi"

configuration {
	hover-select: true;
	kb-cancel: "Escape,Super+Escape,Super+q,Super+w,Super+e,Super+b,Super+f,Super+Ctrl+f";
	me-select-entry: "";
	me-accept-entry: "MousePrimary,MouseSecondary";
	window {
		hide-active-window: true;
	}
}
