@import "font.rasi"
@import "colors.rasi"

* {
	background-color: #00000000;
	text-color: @foreground;
	spacing: 0;
}

window {
	width: 33%;
	background-color: @background;
	border: @border;
	border-color: @foreground;
}

listview {
	lines: 10;
	columns: 1;
	fixed-height: false;
}

inputbar, element {
	padding: 4px;
}

element selected {
	background-color: @foreground;
	text-color: @background;
}

element-text {
	text-color: inherit;
}
